<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DanishShapeCamp</title>
        <link rel="stylesheet" href="/Kalender.css">
    </head>
    <body>
        <div id="wrapper">
            <div class="header">
                <img src="Logo.png" class="Logo">
            <div id="knapper">
                    <ul>
                        <li>
                            <form method="get" action="/">
                                <button class="mButton" value="Submit"> FORSIDE</button>
                            </form>
                        </li>
                        <li>
                            <form method="get" action="/info">
                                <button class="mButton" value="Submit"> INFO</button>
                            </form>
                        </li>
                        <li>
                            <form method="get" action="/bestil">
                                <button class="mButton" value="Submit"> BESTIL</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>	
            <div id="arrowLeft">
                <button onclick="skiftKalenderMaaned(-1)" class="mButtonV2"> <h1>←</h1> </button>
            </div>
            <div>
                <button onclick="skiftKalenderMaaned(1)" class="mButtonV2"> <h1>→</h1> </button>
            </div>
			<div id=kalenderKant>
			<p id=kalenderOverskrift>Måned og år<p>
				<table id=kalender>
					<tr id=kalendeUgeDage>
						<th>Ma</th>
						<th>Ti</th>
						<th>On</th>
						<th>To</th>
						<th>Fr</th>
						<th>Lø</th>
						<th>Sø</th>
					</tr>
					<tr id=kalenderU1>
						<td class=kalenderFelt id=kalenderFeltNr1></td>
						<td class=kalenderFelt id=kalenderFeltNr2></td>
						<td class=kalenderFelt id=kalenderFeltNr3></td>
						<td class=kalenderFelt id=kalenderFeltNr4></td>
						<td class=kalenderFelt id=kalenderFeltNr5></td>
						<td class=kalenderFelt id=kalenderFeltNr6></td>
						<td class=kalenderFelt id=kalenderFeltNr7></td>
					</tr>
					<tr id=kalenderU2>
						<td class=kalenderFelt id=kalenderFeltNr8></td>
						<td class=kalenderFelt id=kalenderFeltNr9></td>
						<td class=kalenderFelt id=kalenderFeltNr10></td>
						<td class=kalenderFelt id=kalenderFeltNr11></td>
						<td class=kalenderFelt id=kalenderFeltNr12></td>
						<td class=kalenderFelt id=kalenderFeltNr13></td>
						<td class=kalenderFelt id=kalenderFeltNr14></td>
					</tr>
					<tr id=kalenderU3>
						<td class=kalenderFelt id=kalenderFeltNr15></td>
						<td class=kalenderFelt id=kalenderFeltNr16></td>
						<td class=kalenderFelt id=kalenderFeltNr17></td>
						<td class=kalenderFelt id=kalenderFeltNr18></td>
						<td class=kalenderFelt id=kalenderFeltNr19></td>
						<td class=kalenderFelt id=kalenderFeltNr20></td>
						<td class=kalenderFelt id=kalenderFeltNr21></td>
					</tr>
					<tr id=kalenderU4>
						<td class=kalenderFelt id=kalenderFeltNr22></td>
						<td class=kalenderFelt id=kalenderFeltNr23></td>
						<td class=kalenderFelt id=kalenderFeltNr24></td>
						<td class=kalenderFelt id=kalenderFeltNr25></td>
						<td class=kalenderFelt id=kalenderFeltNr26></td>
						<td class=kalenderFelt id=kalenderFeltNr27></td>
						<td class=kalenderFelt id=kalenderFeltNr28></td>
					</tr>
					<tr id=kalenderU5>
						<td class=kalenderFelt id=kalenderFeltNr29></td>
						<td class=kalenderFelt id=kalenderFeltNr30></td>
						<td class=kalenderFelt id=kalenderFeltNr31></td>
						<td class=kalenderFelt id=kalenderFeltNr32></td>
						<td class=kalenderFelt id=kalenderFeltNr33></td>
						<td class=kalenderFelt id=kalenderFeltNr34></td>
						<td class=kalenderFelt id=kalenderFeltNr35></td>
					</tr>
					<tr id=kalenderU6>
						<td class=kalenderFelt id=kalenderFeltNr36></td>
						<td class=kalenderFelt id=kalenderFeltNr37></td>
						<td class=kalenderFelt id=kalenderFeltNr38></td>
						<td class=kalenderFelt id=kalenderFeltNr39></td>
						<td class=kalenderFelt id=kalenderFeltNr40></td>
						<td class=kalenderFelt id=kalenderFeltNr41></td>
						<td class=kalenderFelt id=kalenderFeltNr42></td>
					</tr>
				</table>
            </div>
                <% ophold.forEach(function(navn) { %>
    <li class="selveboksen" id="id<%= navn.id %>" style="display:none">
        <div class="afrejsedato">
            <h1>Afrejsedato: <%= navn.afrejsedato %></h1>
        </div>
        <div class="hjemkomst">
            <h1>Hjemkomstdato: <%= navn.hjemkomstdato%></h1>
        </div>
        <div class="lokation">
            <a>Lokation: <%= navn.lokation %></a>
        </div>
        <div class="information">
            <a><%= navn.information %></a>
        </div>
        <div class="pris">
            <a>Pris: <%= navn.pris %></a>
        </div>
    </li>
<%}); %>
        </div>
    </body>
<script src="funktioner.js"></script>

</html>